<%= image_tag('booking.webp',alt: "",class:"rounded mx-auto d-block") %>

<div class="booking">
    <div class="form-group">
      <div class="row">
      <div class="col">
          <%= form_with(url: '/book', method: 'post') do |form| %>
          <input name="authenticity_token" type="hidden" value=" <%= form_authenticity_token %>">
      <select class="form-control" onchange="settheater(event)" name="allot_movie_id"  id="exampleFormControlSelect1">
        <option value= 0 > select-option</option>
        <%Movie.all.each do|allot|%>
          <option value= <%=allot.id %> <%= @movie_id.to_i == allot.id ? " selected " : "" %> ><%=allot.movie_name%></option>
        <%end%> 
        </select>
        </div>
      <div class="col">
    <select class="form-control" name="allot_theater_id" id="exampleFormControlSelect1">

      <option value= 0 > select-option</option>
      <%@theaters.each do|screen|%>
          <option value=<%=screen.id %>  <%= @theater_id.to_i == screen.id ? " selected " : "" %>  ><%=screen.theater_name%></option>
        <%end%>
        </select>
          </div>
    </div>
    </div>
<br>
<div>
    <label for="ticket">Choose date:</label>
    <input type="date" name="booking_date" required min="2022-11-26" max="2022-12-01" style="width:8%;">
    <label for="ticket">Quantity:</label>
                <input type="number" name="seats" class="todo_input" placeholder="Enter Task" required min="1" max="120" style="width:6%;"></div><br>
          

            <div class="row">
        <div class="col">
    <select class="form-control" name="allot_show_timing_id" id="exampleFormControlSelect1">
      <%ShowTiming.all.each do|time|%>
          <option value= <%=time.id %>><%=time.show_timing%></option>
        <%end%>
        </select> <br>
          <%= form.submit "Book" ,class:"btn-book"%>
          </div>
    <%end%>
</div>

<script>
function settheater(event) {
  console.log(event.target.value);
  location.href="/booking/new/"+event.target.value
}</script>
