<%= form_with(model: theater) do |form| %>
  <% if theater.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(theater.errors.count, "error") %> prohibited this theater from being saved:</h2>

      <ul>
        <% theater.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :theater_name %>
    <%= form.text_field :theater_name %>
  </div>

  <div class="field">
    <%= form.label :theater_location %>
    <%= form.text_area :theater_location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
